description = "Tiny base image (Ubuntu Jammy Jellyfish build image, distroless-like run image) with only Java buildpacks included. To use, specify buildpacks at build time."

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java-native-image:9.8.0"
  version = "9.8.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java:15.2.0"
  version = "15.2.0"

[lifecycle]
  version = "0.20.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "9.8.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "15.2.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-tiny:0.2.44"
  id = "io.buildpacks.stacks.jammy.tiny"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-tiny:latest"
  run-image-mirrors = []

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
